.pane {
  padding: 1em;
}

.pane-sm.sidebar {
  text-align: center;
  padding-top: 1em;
}

.pane-sm.sidebar .nav-group {
  text-align: left;
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;
  padding-top: 1em;
}

.grid img {
  background-color: white;
  border: 1px solid #124E78;
  cursor: pointer;
  height: auto;
  margin: 2px;
  padding: 1px;
  width: 30%;
}

.form-group img {
  border: 1px solid #124E78;
  display: block;
  height: auto;
  min-height: 5em;
  padding: 1px;
  width: 100%;
}

span.error {
  color: #C70039;
  font-size: .8em;
}
