.pane {
  padding: 1em;
}

.pane-sm.sidebar {
  text-align: center;
  padding-top: 1em;
}

.pane-sm.sidebar .nav-group {
  text-align: left;
}

.tag-list-header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tag-list-header * {
  margin-bottom: 0.35rem;
}

.nav-group-item.tag:focus {
  background-color: #9da5ab;
  outline: none;
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;
  padding-top: 1em;
}

.grid img {
  background-color: white;
  border: 1px solid #124e78;
  cursor: pointer;
  height: auto;
  margin: 2px;
  padding: 1px;
  width: 30%;
}

.form-group img {
  border: 1px solid #124e78;
  display: block;
  height: auto;
  min-height: 5em;
  padding: 1px;
  width: 100%;
}

span.error {
  color: #c70039;
  font-size: 0.8em;
}
